[submodule "src/opusfile"]
	path = src/opusfile
	url = git@github.com:xiph/opusfile.git

[submodule "src/opus"]
	path = src/opus
	url = git@github.com:xiph/opus.git

[submodule "src/ogg"]
	path = src/ogg
	url = git@github.com:xiph/ogg.git
